<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.insuranceagent" >


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchCompanies"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewCompany"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchAgents"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewAgents"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchClients"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewClients"
            android:screenOrientation="portrait"/>


        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchAppointments"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewAppointments"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchPolicies"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewPolicies"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".SearchClaims"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".NewClaims"
            android:screenOrientation="portrait"/>


        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".Statisitcs"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".Backup"
            android:screenOrientation="portrait"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:name=".Products"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <activity
            android:screenOrientation="portrait"
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>
